@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-header: "Passion One", sans-serif;
    --fonte-section: "Sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte-padrao);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-header);
    padding-top: 65px;
    font-variant: small-caps;
    font-size: 11.5vh;
}

header > p {
    padding-bottom: 65px;
    font-size: 1.1em;
}

p > a {
    color: white;
    text-decoration: none;
}

p > a:hover {
    text-decoration: underline
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte-section);
    font-size: 4vh;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(63, 63, 63);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.315);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.465);
    text-shadow: 1.5px 1.5px 0px black;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;  
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer > p {
    padding: 6px;
    background-color: black;
    color: white;
    text-align: center;
}